.detail_cart {
  padding: 40px;

  .title,
  .place {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  .title {
    button {
      background: transparent;
      cursor: pointer;
    }
  }

  .place {
    margin-bottom: 40px;
  }
}
